$primaryColor: #eef5ff;
$secondaryColor: #b4d4ff;
$thirdColor: #86b6f6;
$fourthColor: #176b87;
$textColor: rgb(87, 87, 87);

$x-small-screen: 420px;
$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 992px;
$x-large-screen: 1200px;
